<!Doctype Html>
<html>
  <head>
     <style>
      h3{color:#999900}
      p1{color:#999900}
      body{background-color:#FFFFCC}
      h4{color:#999900}
      p2{color:red}
     </style>
   </head>

  <body>
    <h3>CONTACT FORM</h3>
       <p1>Fill in this form to contact the site owners.</p1>
        <form  action="" method="post" name="contactform">
          <h4>Name:</h4>
          Please enter your full name<br>
          <input type="text" name="fromname">
        
          <br>
          
          <h4>E-Mail:</h4>
          <p2>*</p2><br>
          Please enter your e-mail address<br>
          <input type="text" name="fromemail">
       
         <br>

         <h4>Subject:</h4>
         <p2>*</p2><br>
         <input type="text" name="fromsubject">
         
          <br>
  
         <h4>Message:</h4><br>
         Please enter the message you want to send.<br>
         <textarea rows="6" cols="60" name="message"></textarea>
        
         <br>
          
         <input type="submit" value="Send">
      </form>
  </body>
</html>